<div class="who-container">
  <div class="container ">
    <div class="row">
      <div class="col-s-12 col-md-4">
        <div class="container-overlay-card">
          <%= image_tag("2.png", class: "overlay-img")%>
          <div class="overlay">
            <div class="overlay-card-text">Book an appointment with one of our expert physiotherapists</div>
          </div>
        </div>
      </div>

      <div class="col-s-12 col-md-4">
        <div class="container-overlay-card">
          <%= image_tag("2.png", class: "overlay-img")%>
          <div class="overlay">
            <div class="overlay-card-text">Book an appointment with one of our expert physiotherapists</div>
          </div>
        </div>
      </div>

      <div class="col-s-12 col-md-4">
        <div class="container-overlay-card">
          <%= image_tag("2.png", class: "overlay-img")%>
          <div class="overlay">
            <div class="overlay-card-text">Book an appointment with one of our expert physiotherapists</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-s-12 col-md-4">
        <div class="container-overlay-card">
          <%= image_tag("2.png", class: "overlay-img")%>
          <div class="overlay">
            <div class="overlay-card-text">Book an appointment with one of our expert physiotherapists</div>
          </div>
        </div>
      </div>

      <div class="col-s-12 col-md-4">
        <div class="container-overlay-card">
          <%= image_tag("2.png", class: "overlay-img")%>
          <div class="overlay">
            <div class="overlay-card-text">Book an appointment with one of our expert physiotherapists</div>
          </div>
        </div>
      </div>

      <div class="col-s-12 col-md-4">
        <div class="container-overlay-card">
          <%= image_tag("2.png", class: "overlay-img")%>
          <div class="overlay">
            <div class="overlay-card-text">Book an appointment with one of our expert physiotherapists</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
