<div class="title-sec-container">
<div class="container ">
  <div class="row">
    <div class="col-s-12 col-md-4">
      <div class="title-container">
        <%= image_tag("2.png", class: "round-title-img")%>
        <p class="title-sec-content">
          Our clinic is based in the centre of London and is very
        </p>
      </div>
    </div>

    <div class="col-s-12 col-md-4">
      <div class="title-container">
        <%= image_tag("1.png", class: "round-title-img")%>
        <p class="title-sec-content">
          Our clinic is based in the centre of London and is very
        </p>
      </div>
    </div>

    <div class="col-s-12 col-md-4">
      <div class="title-container">
        <%= image_tag("sample2.png", class: "round-title-img")%>
        <p class="title-sec-content">
          Our clinic is based in the centre of London and is very
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-s-12 col-md-4">
      <div class="title-container">
        <%= image_tag("sample1.png", class: "round-title-img")%>
        <p class="title-sec-content">
          Our clinic is based in the centre of London and is very
        </p>
      </div>
    </div>

    <div class="col-s-12 col-md-4">
      <div class="title-container">
        <%= image_tag("sample3.png", class: "round-title-img")%>
        <p class="title-sec-content">
          Our clinic is based in the centre of London and is very
        </p>
      </div>
    </div>

    <div class="col-s-12 col-md-4">
      <div class="title-container">
        <%= image_tag("2.png", class: "round-title-img")%>
        <p class="title-sec-content">
          Our clinic is based in the centre of London and is very
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-s-12 col-md-4">
      <div class="title-container">
        <%= image_tag("1.png", class: "round-title-img")%>
        <p class="title-sec-content">
          Our clinic is based in the centre of London and is very
        </p>
      </div>
    </div>

    <div class="col-s-12 col-md-4">
      <div class="title-container">
        <%= image_tag("sample1.png", class: "round-title-img")%>
        <p class="title-sec-content">
          Our clinic is based in the centre of London and is very
        </p>
      </div>
    </div>

    <div class="col-s-12 col-md-4">
      <div class="title-container">
        <%= image_tag("sample2.png", class: "round-title-img")%>
        <p class="title-sec-content">
          Our clinic is based in the centre of London and is very
        </p>
      </div>
    </div>
  </div>
</div>
</div>
