<div class="who-container">
  <div class="container ">
    <div class="row">
      <div class="col-s-12 col-md-4">
        <div class="container-overlay-card">
          <%= image_tag("http://demo.devclick.uk/veronica/wp-content/uploads/2017/03/child-physiotherapy-1086x650.jpg", class: "overlay-img")%>
          <div class="overlay">
            <div class="overlay-card-text">
              <ul>
                <li>Cólicos</li>
                <li>Problemas respiratorios y de sueños</li>
                <li>Otitis media</li>
                <li>Torticolis</li>
                <li>Reflujos</li>
                <li>Hiperactividad</li>
                <li>Plagiocefalia</li>
                <li>Prevención de la escoliosis</li>
                <li>Crecer con salud y fortalece el sistema inmune</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-s-12 col-md-4">
        <div class="container-overlay-card">
          <%= image_tag("sec2-1.jpg", class: "overlay-img")%>
          <div class="overlay">
            <div class="overlay-card-text">Book an appointment with one of our expert physiotherapists</div>
          </div>
        </div>
      </div>

      <div class="col-s-12 col-md-4">
        <div class="container-overlay-card">
          <%= image_tag("2.png", class: "overlay-img")%>
          <div class="overlay">
            <div class="overlay-card-text">Book an appointment with one of our expert physiotherapists</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-s-12 col-md-4">
        <div class="container-overlay-card">
          <%= image_tag("2.png", class: "overlay-img")%>
          <div class="overlay">
            <div class="overlay-card-text">Book an appointment with one of our expert physiotherapists</div>
          </div>
        </div>
      </div>

      <div class="col-s-12 col-md-4">
        <div class="container-overlay-card">
          <%= image_tag("2.png", class: "overlay-img")%>
          <div class="overlay">
            <div class="overlay-card-text">Book an appointment with one of our expert physiotherapists</div>
          </div>
        </div>
      </div>

      <div class="col-s-12 col-md-4">
        <div class="container-overlay-card">
          <%= image_tag("2.png", class: "overlay-img")%>
          <div class="overlay">
            <div class="overlay-card-text">Book an appointment with one of our expert physiotherapists</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
