<div class="container-header-white">
  <div>
    <p>
    POR QUÉ
  </p>
  </div>
  <div class="line">
  </div>
</div>


<div class="card-container-blu">
  <div class="card-category-sm">
    <div class="img-sm">
      <%= image_tag("therapy.svg") %>
    </div>
    <div class="content">
      <h4> Tener más movilidad</h4>
    </div>
  </div>

  <div class="card-category-sm">
    <div class="img-sm">
      <%= image_tag("therapy2.svg") %>
    </div>
    <div class="content">
      <h4> Menos tensión muscular</h4>
    </div>
  </div>

  <div class="card-category-sm">
    <div class="img-sm">
      <%= image_tag("therapy.svg") %>
    </div>
    <div class="content">
      <h4> Reducir el uso de fármacos y cirugía</h4>
    </div>
  </div>

  <div class="card-category-sm">
    <div class="img-sm">
      <%= image_tag("therapy2.svg") %>
    </div>
    <div class="content">
      <h4> Mejorar tu postura</h4>
    </div>
  </div>

  <div class="card-category-sm">
    <div class="img-sm">
      <%= image_tag("therapy.svg") %>
    </div>
    <div class="content">
      <h4> Mejorar tu rendimiento físico y mental</h4>
    </div>
  </div>

  <div class="card-category-sm">
    <div class="img-sm">
      <%= image_tag("therapy.svg") %>
    </div>
    <div class="content">
      <h4> Reducir tus dolores de cabeza</h4>
    </div>
  </div>

    <div class="card-category-sm">
    <div class="img-sm">
      <%= image_tag("therapy.svg") %>
    </div>
    <div class="content">
      <h4> Más vitalidad y menos estrés</h4>
    </div>
  </div>

    <div class="card-category-sm">
    <div class="img-sm">
      <%= image_tag("therapy.svg") %>
    </div>
    <div class="content">
      <h4> Sentirte bien con tu cuerpo y mente</h4>
    </div>
  </div>

    <div class="card-category-sm">
    <div class="img-sm">
      <%= image_tag("therapy.svg") %>
    </div>
    <div class="content">
      <h4> Reducir procesos inflamatorios </h4>
    </div>
  </div>
</div>
