


<%= partial "banner" %>



<div class="two-item-container">
  <div class="box-1">
    <h3>Why Quiropractica</h3>
    <p>
      La quiropráctica es esa profesión sanitaria especializada en la relación entre la columna vertebral y el sistema nerviosos, y de la detección y corrección de esos trastornos a nivel musculo/esquelético que pueden afectar nuestra salud.

El objetivo es el conseguimiento de un correcto funcionamiento del sistema nervioso, con el fin de optimizar la capacidad de adaptación del nuestro cuerpo a situaciones de estrés físico, emocionales y químicos.

La nuestra columna vertebral funge de defensa mecánica de nuestro sistema nervioso atreves de sus vertebras, cuando estas se pierden su alineación original generando un bloqueo que puede afectar la funcionalidad del sistema nervioso.

    </p>

  </div>
  <div class="box-2">
    <%= image_tag("1.png") %>
  </div>
</div>


<%= partial "grid_title_items.html.erb" %>
<%= partial "_who_five_sec.html.erb" %>
<%= partial "_card_flip_section.html.erb" %>
<%= partial "_who_img_cover_right.html.erb" %>
<%= partial "_testimonial.html.erb" %>
<%= partial "_contact.html.erb" %>
