


<%= partial "banner" %>




<div class="simple-bar">
      <p>
        Purchase Veronica the best physio theme for WordPress today
      </p>
    <div class="btn-main-lrg">
      <a href="#">Book Appointment</a>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">

<!-- ################################################################################ -->

<div class="panel-container">
  <div class="main-panel">
    <div class="panel-cell">
      <div class="panel-cell-inner">
        <div class="content-holder ">
          <div class="panel-1-box-border">
            <h3>Sport Massage</h3>
            <p>
              Here at Veronica physiotherapy clinic we strive to provide you with an exceptional quality of care across all our services which range from, physiotherapy, ergonomics and more. All therapy services are carried out by experienced and fully trained experts. To see our full range of therapy services please click on the link below.
            </p>
            <a href="">All Services</a>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-cell">
      <div class="panel-cell-inner">
        <div class="content-holder">
          <a href="">
            <%= image_tag("1.png") %>
          </a>
          <div class="text">
            <h3>Sport Massage</h3>
            <p>Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum....</p>
            <a href="">Read More</a>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-cell">
      <div class="panel-cell-inner">
        <div class="content-holder">
          <a href="">
            <%= image_tag("2.png") %>
          </a>
          <div class="text">
            <h3>Sport Massage</h3>
            <p>Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum....</p>
            <a href="">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</div>
  </div>
    </div>



<div class="container-header-white-blu">
  <div>
    <p>
    Why Veroniva
  </p>
  </div>
  <div class="line">
  </div>
</div>

<div class="card-container-blu">
  <div class="card-category-sm">
    <div class="img-sm">
      <%= image_tag("therapy.svg") %>
    </div>
    <div class="content">
      <h4>Fully Equipped Clinic</h4>
      <p>Our clinic is fully equipped with the best equipment</p>
    </div>
  </div>

  <div class="card-category-sm">
    <div class="img-sm">
      <%= image_tag("therapy2.svg") %>
    </div>
    <div class="content">
      <h4>Fully Equipped Clinic</h4>
      <p>Our clinic is fully equipped with the best equipment</p>
    </div>
  </div>

  <div class="card-category-sm">
    <div class="img-sm">
      <%= image_tag("child.svg") %>
    </div>
    <div class="content">
      <h4>Fully Equipped Clinic</h4>
      <p>Our clinic is fully equipped with the best equipment</p>
    </div>
  </div>

  <div class="card-category-sm">
    <div class="img-sm">
      <%= image_tag("wheelchair.svg") %>
    </div>
    <div class="content">
      <h4>Fully Equipped Clinic</h4>
      <p>Our clinic is fully equipped with the best equipment</p>
    </div>
  </div>

  <div class="card-category-sm">
    <div class="img-sm">
      <%= image_tag("child.svg") %>
    </div>
    <div class="content">
      <h4>Fully Equipped Clinic</h4>
      <p>Our clinic is fully equipped with the best equipment</p>
    </div>
  </div>

  <div class="card-category-sm">
    <div class="img-sm">
      <%= image_tag("therapy2.svg") %>
    </div>
    <div class="content">
      <h4>Fully Equipped Clinic</h4>
      <p>Our clinic is fully equipped with the best equipment</p>
    </div>
  </div>
</div>




<div class="container-header-white">
  <div>
    <p>
    Customer Testimonials
  </p>
  </div>
  <div class="line">
  </div>
</div>

<div class="card-container-testimonial">
  <div class="card-category-testimonial">
    <div class="testimonial-icon">
      <%= image_tag("profile.svg") %>
    </div>
    <div class="testimonial-inner">
      <p>
        I contacted Veronica due to my long term back pain. Veronica was excellent! After 3 months I am finally walking again without pain. Next step is to take on tough mudder. Thanks Veronica!
      </p>
    </div>
    <div class="testimonial-meta">
      <div class="testimonial-author">
        <p>
          John Jones
        </p>
      </div>
      <div class="testimonial-location">
        <p>
          Hertfordshire
        </p>
      </div>
    </div>
  </div>

  <div class="card-category-testimonial">
    <div class="testimonial-icon">
      <%= image_tag("profile.svg") %>
    </div>
    <div class="testimonial-inner">
      <p>
        I contacted Veronica due to my long term back pain. Veronica was excellent! After 3 months I am finally walking again without pain. Next step is to take on tough mudder. Thanks Veronica!
      </p>
    </div>
    <div class="testimonial-meta">
      <div class="testimonial-author">
        <p>
          John Jones
        </p>
      </div>
      <div class="testimonial-location">
        <p>
          Hertfordshire
        </p>
      </div>
    </div>
  </div>

  <div class="card-category-testimonial">
    <div class="testimonial-icon">
      <%= image_tag("profile.svg") %>
    </div>
    <div class="testimonial-inner">
      <p>
        I contacted Veronica due to my long term back pain. Veronica was excellent! After 3 months I am finally walking again without pain. Next step is to take on tough mudder. Thanks Veronica!
      </p>
    </div>
    <div class="testimonial-meta">
      <div class="testimonial-author">
        <p>
          John Jones
        </p>
      </div>
      <div class="testimonial-location">
        <p>
          Hertfordshire
        </p>
      </div>
    </div>
  </div>
</div>


<div class="container-header-white-blu">
  <div>
    <p>
    Customers Testimonials
  </p>
  </div>
  <div class="line">
  </div>
</div>


<%= partial "three_items" %>


